{% extends 'home/base/base.html' %}

{% block title %}Resultados de Búsqueda | MultiBlogs{% endblock %}

{% block body %}
<div class="container pt-4 pb-4" style="margin-bottom: 70px;">
    <h3>Resultados para: <b>{{ consulta }}</b></h3>
    <br>
    {% if publicaciones %}
        <div class="row">
            {% for publicacion in publicaciones %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card border-0 h-100 shadow-sm" style="padding: 10px;">
                        <img class="card-img-top img-fluid" src="{{ publicacion.url_imagen }}" alt="{{ publicacion.titulo }}">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h5 class="card-title font-weight-bold">
                                <a class="text-dark text-decoration-none" href="{% url 'ver_publicacion' publicacion.pk %}">{{ publicacion.titulo }}</a>
                            </h5>
                            <p class="card-text">{{ publicacion.detalle|truncatechars:100 }}</p>
                            <div class="mt-auto">
                                <small class="d-block text-muted">
                                    Publicado por <a class="text-muted text-decoration-none" href="#">{{ publicacion.autor.usuario.username }}</a> en {{ publicacion.categoria.nombre }}
                                </small>
                                <small class="text-muted">{{ publicacion.creado_en|timesince }} atrás | {{ publicacion.conteo_visitas }} visitas</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            No se encontraron resultados para tu búsqueda.
        </div>
        <h5>Sugerencias:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-check-circle-fill text-primary"></i> Asegúrate de que todas las palabras estén correctamente escritas.</li>
            <li><i class="bi bi-check-circle-fill text-primary"></i> Intenta con diferentes palabras clave.</li>
            <li><i class="bi bi-check-circle-fill text-primary"></i> Prueba con términos más generales.</li>
            <li><i class="bi bi-check-circle-fill text-primary"></i> Utiliza menos palabras clave.</li>
        </ul>
    {% endif %}
</div>
{% endblock %}
