{% extends 'dashboard/base/base.html' %}

{% block title %}Listado de Categorías{% endblock %}

{% block body %}
<div class="container pt-4">
    <h2 class="mb-4">Categorías</h2>
    
    {% if categorias %}
        <div class="row">
            {% for categoria in categorias %}
                <div class="col-md-4 mb-4">
                    <div class="card border-0 h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ categoria.nombre }}</h5>
                            <p class="card-text">{{ categoria.descripcion|truncatechars:100 }}</p>
                            <a href="{% url 'vista_categoria' categoria.id %}" class="btn btn-primary">Ver Publicaciones</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Paginación -->
        <nav aria-label="Paginación">
            <ul class="pagination justify-content-center mt-4">
                {% if categorias.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ categorias.previous_page_number }}" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for num in categorias.paginator.page_range %}
                    {% if categorias.number == num %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if categorias.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ categorias.next_page_number }}" aria-label="Siguiente">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        
    {% else %}
        <div class="alert alert-info">
            No hay categorías disponibles actualmente.
        </div>
    {% endif %}
</div>
{% endblock %}
